#app-mount {
    .container-3baos1 {
        position: relative;

        .avatarWrapper-2yR4wp[aria-expanded="true"] {
            + .nameTag-3uD-yy {
                margin-left: 32px;

                &::before {
                    content: "";
                    position: absolute;
                    pointer-events: none;
                    background: var(--background-tertiary) var(--placeholder-avatar) center/100% no-repeat;
                    border-radius: 25px;
                    height: 32px;
                    width: 32px;
                    margin-top: -1px;
                    left: 8px;
                }
            }

            .avatar-SmRMf2 {
                position: absolute;
                pointer-events: none;
                height: 60px !important;
                width: 60px !important;
                bottom: 151px;
                left: 50%;
                border: 5px solid var(--avatar-gap-bg);
                animation: StatusPickerAvatar 350ms ease forwards;

                foreignObject {
                    mask: none;
                    border-radius: 25px;
                }

                rect {
                    display: none;
                }
            }
        }
    }
}
