#app-mount {
    // Removes The Original Animation
    .scale-3iLZhb {
        opacity: 1;
        transform: none;
    }

    // Main Code
    #status-picker {
        z-index: 0;
        background: radial-gradient(circle at center 45px, transparent 34px, var(--menu-bg) 0);
        border-radius: var(--border-radius);
        box-shadow: 0 0 8px var(--box-shadow-color);
        margin-bottom: 19px;
        width: 224px;
        height: 172px;
        animation: StatusPicker 350ms ease forwards;

        .scroller-3BxosC {
            display: flex;
            align-items: flex-start;
            margin-top: 40%;
            width: 94%;
            left: 25px;

            &::-webkit-scrollbar {
                display: none;
            }

            .item-1tOPte:not(#status-picker-custom-status) {
                background-color: transparent;
                padding: 0;
                margin: 0 8px;
                width: 33px;
                margin-left: 0;

                .status-1fhblQ, .separator-2I32lJ, .description-2L932D {
                    display: none;
                }

                .status-1AY8sU {
                    background-color: var(--status-color);
                    transition: all 300ms;
                }

                &:hover, &.focused-3afm-j {
                    .status-1AY8sU {
                        background-color: var(--status-color-hover) !important;
                    }
                }

                .statusItem-33LqPf {
                    margin-top: -4px;

                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }

                &#status-picker-online {
                    --status-color: var(--online);
                    --status-color-hover: var(--online-hover);
                    margin-right: 0;
                    margin-left: -3px;
                }

                &#status-picker-idle {
                    --status-color: var(--idle);
                    --status-color-hover: var(--idle-hover)
                }

                &#status-picker-dnd {
                    --status-color: var(--dnd);
                    --status-color-hover: var(--dnd-hover)
                }

                &#status-picker-invisible {
                    --status-color: var(--invisible);
                    --status-color-hover: var(--invisible-hover);
                }
                
                &#status-picker-game-activity {
                    position: fixed;
                    margin-top: -90px;
                    margin-left: -30px;
                }
            }

            #status-picker-custom-status {
                position: fixed;
                background-color: var(--custom-status-bg);
                border-radius: var(--border-radius);
                margin-top: 40px;
                margin-left: -29px;
                width: 216px;

                &:hover, &.focused-3afm-j {
                    background-color: var(--custom-status-hover);
                }
            }
        }
    }
}